{% block fos_user_content %}
<p>{{ simpleText('overlay.resetting.password_already_requested') }}{{ simpleTextSonataAdminLink('overlay.resetting.password_already_requested') | raw }}</p>
{% endblock fos_user_content %}
